.container {
  display: grid;
  width: 97%;
  height: 87vh;
  background: transparent;
  backdrop-filter: blur(90px);
  border-radius: 4px;
  margin: 10px auto;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 0px;
}
.herosection {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.lefthero {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}
.smalldata {
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  white-space: nowrap;
  width: min-content;
}
.h1hero {
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(50deg, #169d53, gold);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.btn{
    padding: 10px 20px;
    background: #169d53;
    color: aliceblue;
    width: min-content;
    white-space: nowrap;
    border-radius: 2px;
}
.btn:hover{
  background: rgba(225,225,225,0.2);
  color: #169d53;
}
.righthero img{
  width: 100%;
  height: 100%;
  animation: HeroAni 3s ease-in-out infinite;
}
@keyframes HeroAni{
  50%{
    transform: translateY(-20px);
    filter: blur(2px);
  }
}
.btnholder{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  /* Hero Section:  */
  .herosection{
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
    padding: 0px;
  }
  .righthero img{
    animation: none;
  }
}
